@import "../../../global.scss";

.works {
  background-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow{
      position: absolute;
      height: 50px;
        cursor: pointer;

        @include mobile {
          display: none;
        }

      &.left{
        left: 100px;
        transform: rotateY(180deg);
      }
      &.right{
        right: 100px;
        cursor: pointer;
      }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }
  }
}
